@import url(normalize.css);
@import url("//brick.a.ssl.fastly.net/Gentium Basic:400,400i,700,700i/Domine:400,700");

body {
  font-family: "Gentium Basic", serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}

a {
  color: #4F76AC;
  text-decoration: none;
}

a:hover {
  color: #509610;
}

code {
  font-size: 14px;
  font-family: Consolas, Menlo, "Dejavu Sans Mono", monospace;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

h1, h2, h3 {
  font-weight: normal;
}

.header h1 {
  font-family: "Domine", serif;
  font-size: 38px;
  text-align: center;
  line-height: 1.0;
  margin: 10px 0;
}

.header h2 {
  font-size: 20px;
  text-align: center;
  color: #999;
  line-height: 1.0;
  margin: 0;
  font-style: italic;
}

.nav {
  font-family: "Domine", serif;
  margin: 30px 0;
  padding: 10px 0;
  text-align: center;
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}

.nav a {
  display: inline-block;
  margin: 0 10px;
}

.content {
  margin: 20px 0;
  text-align: justify;
}

.content h1 {
  font-family: "Domine", serif;
  text-align: center;
  font-size: 24px;
}

.content h2 {
  font-family: "Domine", serif;
  text-align: center;
  font-size: 20px;
  color: #666;
}

.content h3 {
  font-size: 18px;
  font-weight: bold;
}

.related, .comment {
  border-top: 1px dashed #ddd;
}

.related h2 {
  font-family: "Domine", serif;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  color: #999;
}

.comment {
  color: #999;
  font-size: 20px;
  padding: 20px 0;
}

.meta {
  text-align: center;
  margin: 10px 0;
  color: #999;
}

.comment {
  border-top: 1px dashed #ddd;
}