---
layout: default
---

<div class="content">
	<h1>{{ page.title }}</h1>
	<p class="meta">{{ page.date | date_to_string }}</p>
	{{ page.content | markdownify }}
</div>

<div class="comment">
	If you have comment, you can post it HN (link can be found at the end of the essay), send me an email at <em>hi AT ruoyusun DOT com</em> or ping me on Twitter <a href="http://twitter.com/insraq">@insraq</a>.
</div>

<div class="related">
  <h2>Related</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <li><span class="post-date">{{ post.date | date_to_string }} · </span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>